<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Bestellsystem AdamForster</h2>
        <p>
	  Schnell und direkt Bestellen.
	  Sie erfassen die Bestellung direkt am Tisch mit einem Tablet.
	  Die Bestellung wird verarbeitet, während sie noch am Tisch stehen.
	   An der Theke und in der Küche wird sofort eine Bestellung gedruckt und nur Momente nach der Bestellung kann schon ausgeliefert werden. Geniessen Sie die Komplimente für schnellen und freundlichen Service.
			Für den Einsatz benötigen Sie weder Internetzugang noch Handy-Empfang.</p>

  <H2>In der Praxis geprüft. Aus eigener Erfahrung gut</H2>
		
    <p>Service AdamForster ist immer wieder auf verschiedenen Festen und Anlässen im Einsatz.

			Dorfchilbi, Abendunterhaltung im Verein oder Jodlerfest und Grossanlass, AdamForster ist eine praxiserprobte Lösung.

			Sie haben einen ganz besonderen Anlass in Planung? Sprechen Sie mit uns, wir lieben neue Herausforderungen und verbessern unser System mit jedem Einsatz.
</p>

<H2>Auf Ihr Fest angepasst. Damit die Freude nicht zu kurz kommt.</H2>
<p>
  Sortiment, Küche und Infrastruktur benötigen eine angepasste Lösung. Damit macht die Arbeit in jeder Situation wieder Freude.
  AdamForster war unter anderem schon an folgenden Festen im Einsatz: Pfingstchilbi Derendingen, Jodlerfest Derendingen, Märetfescht Solothurn und Turnershow Bellach. Unsere grösste Halle bisher fasste 1000 Sitzplätze. Das System ist aber an Ihre Verhältnisse anpassbar und kennt keine theoretischen Grenzen. Was Sie sich zutrauen, wir sind dabei und unterstützen Sie gerne!

  Sie haben eine grössere Halle oder Zelt... da freuen wir uns drauf!
</p>

      </div>
    </div>
  </section>