<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>Kontakt</h2>
      <p class="lead">
        Ein Telefongespräch und sie wissen mehr. Ein kurzes E-Mail
        und wir beantworten Ihre Fragen.  Melden Sie sich, wir freuen
        uns von Ihnen zu hören.
      </p>

      <p>
        Telefon: 032 682 59 74
      </p>

      <p>
        <a href=""
          data-u="daniel"
          data-d="adamforster.ch">E-Mail</a></>
      </p>


                
      <ul class="list-inline banner-social-buttons">
        {% for network in site.social %}
        <li>
          <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>