<!-- About Section -->
<section id="vorteile" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Vorteile und Nutzen Bestellsystem AdamForster</h2>
        <p>
		<H4>Service</h4>
		<p>Schneller und freundlicher Serivce für Ihre Kunden.</p>

		<h4>Helfer</h4>
		<p>Ihre Helfer melden sich freiwillig in den Service. Garantiert.</p>

		<h4>Umsatz</h4>
		<p>Kürzere Wartezeiten, zufriedene Kunden und motivierte Helfer steigern Ihren Umsatz von Jahr zu Jahr.</p>
	</p>
      </div>
    </div>
  </section>