<!-- About Section -->
<section id="vorteile" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Vorteile und Nutzen Bestellsystem AdamForster</h2>
        <p>
		<H4>Service</h4>
		Schneller und freundlicher Serivce für Ihre Kunden.<br/>

		<h4>Helfer</h4>
		Ihre Helfer melden sich freiwillig in den Service. Garantiert.<br/>

		<h4>Umsatz</h4>
		Kürzere Wartezeiten, zufriedene Kunden und motivierte Helfer steigern Ihren Umsatz von Jahr zu Jahr.<br/>

	</p>

      </div>
    </div>
  </section>